/* Font Noel cho tiêu đề */
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

.snow-text {
    position: relative;
    display: block;
    color: #296cb8 !important;
    font-family: 'Mountains of Christmas', cursive !important;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 50px;
    /* chỉnh tại đây để làm chữ to */
    text-align: center;
}


/* Hiệu ứng tuyết phủ nửa trên chữ */
.snow-text::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    color: rgb(205, 220, 235);

    clip-path: inset(0 0 55% 0);

    text-shadow:
        0px 2px 2px rgba(255, 255, 255, 1),
        0px 4px 3px rgba(255, 255, 255, 0.95),
        0px 6px 5px rgba(255, 255, 255, 0.9),
        0px 8px 7px rgba(255, 255, 255, 0.8);

    filter: blur(0.8px);
}