:root {
  /* login css */
  --login-image-container-width: 1005px;
  --login-image-container-height: 675px;
  --margin-button-1: 15px;
  --margin-button-2: 10px;

  /* login && register */
  --form-scale: 1;
}
